<!DOCTYPE html>
<html lang={{site.language}}>
{% include head.html %}
<body>
<div id="wrapper">
    <div id="main-content">
        <a href="{{site.url}}{{site.baseurl}}/"><div id="logo">&nbsp;</div></a>
        <div id="table-of-contents">
            <h2>Categories</h2>
            {% for category in site.categories %}
            <h4>{{ category[0] }}</h4>
            <ul>
                {% for post in category[1] %}
                <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div> <!-- /table-of-contents -->
    </div>
</div> <!-- /wrapper -->
</body>
</html>